<footer>
    <p>Designed And Developed by IEEE - SNIST | Student Branch.</p>
    <div>
        <a href="https://www.facebook.com/SreenidhiGroup/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/checkpoint/challengesV2/AQHfu9bDFxqamwAAAXKJei_9zVq8z2UqdBXWKItoSaaFraU1GO6xlDfgtJu_aBeZPQNyI1bftDUWlWpmeVdX_4Yihxagqyu9lQ"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/snist_sreenidhi/"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/Sreenidhi_SNIST"><i class="fab fa-twitter"></i></a>
    </div>
    
</footer>

{{!-- https://twitter.com/Sreenidhi_SNIST --}}