
<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="/"><img src="imgs/IEEE SNIST.png" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars" style="color: black;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto active">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/about-ieee">IEEE</a>
                    <a class="dropdown-item" href="/about-hydSection">IEEE Hyd Section</a>
                    <a class="dropdown-item" href="/about-r10">IEEE R 10</a>
                    <a class="dropdown-item" href="/about-snist-sb">IEEE-SNIST SB</a>
                </div>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/team-excomm">Ex-Comm</a>
                    <a class="dropdown-item" href="/team-halloffame">Hall Of Fame</a>
                    <a class="dropdown-item" href="https://forms.gle/2Fd7yiT7BAVm3TB7A">Bare Constitution</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/data-center" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Data Center
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1OOsjnzOpbOt7KDsp8iKwfw4rYsLFYrmBJUDwkfZf43I/edit?usp=sharing">Active Members</a>
                    <a class="dropdown-item" href="/dataCenter-reports">Reports</a>
                    <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1GSFUIOhsZF9nAeLH9ef4kd3J-cAwZSL7KsxYCUchews/edit?usp=sharing">Alumni Association</a>
                    <a class="dropdown-item" href="/student-services-joinUs">Filing</a>
                    {{!-- <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a> --}}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/student-services" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Student Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://forms.gle/K2jhinBzMCUSeCXPA">Resume Builder</a>
                    <a class="dropdown-item" href="https://forms.gle/V6LWJa1SUfH9VZcK8">Tech-Sem Assistance</a>
                    <a class="dropdown-item" href="https://forms.gle/KiwUJix9RPFtzPNW9">Journal & Paper</a>
                    <a class="dropdown-item" href="https://forms.gle/xK5AoLJYH9KzoCyLA">LinkedIn All star</a>
            
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/chapters" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Chapters
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/chapters-pes">PES</a>
                    <a class="dropdown-item" href="/chapters-wie">WIE</a>
                    <a class="dropdown-item" href="/chapters-cs">CS</a>
                    <a class="dropdown-item" href="/chapters-comsoc">COMSOC</a>
                </div>
            </li>
    </div>
</nav>
