<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>
<body>
    <header>
        {{>navbar}}
    </header>

<section id="ieee-top">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div id="ieee">
                    <h2>IEEE</h2>
                </div>
                <p>
                    IEEE is the world’s largest technical professional organization dedicated to advancing technology for the benefit of
                    humanity. IEEE inspires a global community to innovate for a better tomorrow through its highly-cited publications,
                    conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for
                    engineering, computing and technology information around the globe.
                </p>
                <p>
                    There are more than 420,000 members from more than 160 countries bearing the membership. IEEE publishes a third of the
                    world’s technical literature in electrical engineering, computer science, and electronics. It is a leading developer of
                    international standards that underpin many of today’s telecommunications, information technology, and power generation
                    products and services.
                </p>
            </div>
            <div class="col-md-5 text-right d-flex align-items-center justify-content-end">
                <img src="imgs/ieee.jpeg" alt="">
            </div>
        </div>
    </div>
</section>

<section id="ieee-misvis">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <div id="ieee-mis">
                    <span><i class="far fa-lightbulb"></i></span>
                    <h3>Mision</h3>
                    <p>
                        IEEE will be essential to the global technical community and to technical professionals everywhere, and be universally
                        recognized for the contributions of technology and of technical professionals in improving global conditions.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div id="ieee-vis">
                    <span><i class="fab fa-react"></i></span>
                    <h3>Vision</h3>
                    <p>
                        IEEE’s core purpose is to foster technological innovation and excellence for the benefit of humanity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ieee-bens">
    <div class="container text-center">
        <h3>Benefits of IEEE membership</h3>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/WBCt8MaNafw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</section>

<section id="ieee-population">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>423000</h3>
                <p>Members</p>
            </div>
            <div class="col-md-3">
                <h3>334</h3>
                <p>Sections</p>
            </div>
            <div class="col-md-3">
                <h3>2116</h3>
                <p>Chapters</p>
            </div>
            <div class="col-md-3">
                <h3>3005</h3>
                <p>Student Branches</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>117000</h3>
                <p>Student Members</p>
            </div>
            <div class="col-md-3">
                <h3>486</h3>
                <p>Affinity Groups</p>
            </div>
            <div class="col-md-3">
                <h3>160+</h3>
                <p>Countries</p>
            </div>
            <div class="col-md-3">
                <h3>1481</h3>
                <p>SB Chapters</p>
            </div>
        </div>
    </div>
</section>

{{>footer}}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>
</html>