<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>

<body>
    <header>
        {{>navbar}}
    </header>
<section id="ieee-sb-top">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div id="ieee-sb">
                    <h2>IEEE - SNIST SB</h2>
                </div>
                <p>
                    IEEE-SNIST was founded 15 years ago and under the guidance of our Director sir, Dr.Narasimha Reddy and our Student
                    Branch Counselor, Dr K. Sumanth, we have grown to be a venerable team that oversees technical activities and aims to
                    impart a spark of innovation in students. We also have a Sister Branch: The IEEE SNIST Computer Society (CS), and an
                    IEEE Affinity Group: The IEEE SNIST Women In Engineering (WIE).
                </p>
                <p>
                    IEEE-SNIST was founded 15 years ago and under the guidance of our Director sir, Dr.Narasimha Reddy and our Student
                    Branch Counselor, Dr K. Sumanth, we have grown to be a venerable team that oversees technical activities and aims to
                    impart a spark of innovation in students. We also have a Sister Branch: The IEEE SNIST Computer Society (CS), and an
                    IEEE Affinity Group: The IEEE SNIST Women In Engineering (WIE).
                </p>
                <p>
                    We are a group of fun-loving and lively engineering students (undergrads and graduates) who wish to research and learn
                    about innovation in technology, and to discover our passions while making a difference and creating a change in our
                    community.
                </p>
                <p>
                    There are a lot of activities taken up by IEEE-SNIST – from conducting workshops and other exciting events to organizing
                    one of the most reputed fests, we do it all. Our annual techno-management festival under the banner of ADASTRA has been
                    a memorable tradition and huge success for the last 14 years. Our club has not failed to bring laurels and contribute to
                    the college’s reputation with the various activities that we take up.
                </p>
                <p>
                    We at IEEE believe that in the ever-evolving world of today, networking is the key to knowledge sharing and progress. It
                    gives us the perfect opportunity to gather information from experts in the international IEEE fraternity and allows us
                    to be a part of something bigger than ourselves. We leave no stones unturned in our pursuit of technological advancement
                    and aspire to empower everyone with erudition.

                </p>
            </div>
            <div class="col-md-5 text-right d-flex align-items-center justify-content-end">
                <img src="imgs/IEEE SNIST.png" alt="">
            </div>
        </div>
    </div>
</section>



<section id="sb-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <span><i class="fas fa-check-square"></i></span>
                <h4></i> Focus on research and development.</h4>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <span><i class="fas fa-check-square"></i></span>
                <h4>Promote technical awareness amongst college students.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <span><i class="fas fa-check-square"></i></span>
                <h4>Imparts knowledge relating to social issues by actively volunteering at NSS unit in the college</h4>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <span><i class="fas fa-check-square"></i></span>
                <h4>Conducts activities which can develop the technical cognition of a student.</h4>
            </div>
        </div>
    </div>
</section>


<section id="sb-bottom">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h3>19</h3>
                <p>Executive Members</p>
            </div>
            <div class="col-md-4">
                <h3>3</h3>
                <p>Chapters</p>
            </div>
            <div class="col-md-4">
                <h3>1</h3>
                <p>Affinity Groups</p>
            </div>
        </div>
    </div>
</section>


{{>footer}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>