<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>

<body>
    <header>
        {{>navbar}}
    </header>


    <section id="ieee-r10-top">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div id="ieee-r10">
                        <h2>IEEE R10</h2>
                    </div>
                    <p>
                        The IEEE Region 10, also referred as the Asia Pacific Region, comprises of 57 Sections, 6 Councils, 17 Sub-sections, 515
                        Chapters, 60 Affinity Groups, and 958 Student Branches. It covers a geographical area stretching from South Korea and
                        Japan in the north – east to New Zealand in the south, and Pakistan in the west. With a membership of 107,154, it is one
                        of the largest regions in IEEE. For more info, visit the website.
                    </p>
                </div>
                <div class="col-md-5 text-right d-flex align-items-center justify-content-end">
                    <img src="imgs/r10.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="r10-middle">
        <div class="container">
            <h3>Goals And Objectives</h3>
            <p>
                The primary objective of the R10 InfoMap is to provide IEEE members, leaders and volunteers with an interactive platform
                to find, reach and connect with each other over a visual medium. Additionally, the map provides users with an
                illustration of where each major meet – up or project in the Region is taking place thereby, enabling members to gain a
                summarized understanding of the opportunities/events available at their disposal throughout the year.
            </p>
        </div>
    </section>
    
    <section id="r10-bottom">
        <div class="container">
            <h3>IEEE Region 10 Congress</h3>
            <p>
                With its members in 165 countries around the globe, the Region 10 Congress gathers members of the Asia-Pacific Region
                together every two years to network, learn about the latest IEEE programs, and share strategies for enhancing
                membership. This is the biggest IEEE event for the students, Young Professionals and Women in Engineering (WiE) in the
                region with ample opportunities to explore ideas, develop skills and discuss issues in their profession. The Region 10
                Congress was first held in 2002 in Singapore, attracting 57 delegates. The event has since been held in places like Hong
                Kong (2004), Beijing (2005), Chennai (2007), Singapore (2009), New Zealand (2011), Hyderabad (2013), Sri Lanka (2015).
            </p>
        </div>
    </section>


{{>footer}}


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>