<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>

<body>
    <header>
        {{>navbar}}
    </header>

        <section class="top-chap">
            <div class="container">
                <div class="h2">
                    <h2>Power and Energy Society</h2>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p>
                            The Power & Energy Society (PES) provides the world’s largest Forum for sharing the latest in technological
                            developments in the electric power industry, for developing standards that guide the development and construction of
                            equipment and systems, for educating members of the industry and the general public. Members of the Power & Energy
                            Society are leaders in this field, and their employers derive substantial benefits from involvement with this unique and
                            outstanding association.
                        </p>
                        <p>
                            <strong>LEARN,</strong> about current research and applications of recent technologies such as wind, photovoltaic’s, fuel cells,
                            distributed generation, flexible AC transmission, energy storage, Smart Grids, and more
                        </p>
                        <p>
                            <strong>STAY INFORMED,</strong> about the latest developments in traditional technologies and the new opportunities created as today’s
                            technological and financial situations impact the power and energy industry.
                        </p>
                        <p>
                            <strong>NETWORK,</strong> with experienced professionals in all aspects of the industry be that local, regional, or international
                            meetings. Save big on conference registration fees, some are even free!
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img src="imgs/pes.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="vision-box">
            <div class="container text-center">
                <div class="vis-box">
                    <span id="icon-span"><i class="fab fa-react"></i></span>
                    <h3>Vision</h3>
                    <p>To be the leading provider of scientific and engineering information on electric power and energy for the betterment of
                    society, and the preferred professional development source for our members ~ Approved by the IEEE PES Governing Board,
                    17 July 2003 With over 24,000 members around the globe representing every facet of the electric power and energy
                    industry, PES is at the forefront of the rapidly changing technological advancements that impact everyone’s future. The
                    vision of PES Chapter IEEE – VBIT SB, is to motivate and encourage students to present papers at different technical
                    conferences and participate in the events and competitions conducted by IEEE and contribute to the society by adopting
                    local school and involvement in charitable events</p>
                </div>
            </div>
        </section>

        <section class="video">
            <div class="container text-center">
                <h4>Pro's of being a PES member</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BrxdLNDxWOw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>

        <section class="join-now">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-7">
                        
                            <h3>Get your PES membership now</h3>
                       
                    </div>
                    <div class="col-md-5">
                        <a href="https://www.ieee.org/membership-catalog/productdetail/showProductDetailPage.html?product=MEMPE031" class="btn">Sign up</a>
                    </div>
                </div>
            </div>
        </section>


        {{>footer}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>