<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="imgs/IEEE SNIST.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>

<body>
    <header>
        {{>navbar}}
    </header>

    <section class="top-chap">
        <div class="container text-justify">
            <div class="h2">
                <h2>Women In Engineering - Affinity Group</h2>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p>
                        IEEE Women in Engineering (WiE) is one of the largest international professional organizations dedicated to promoting
                        women engineers, scientists, and inspiring girls around the world to follow their academic interests in a career in
                        engineering.
                    </p>
                    <p>
                        The mission of IEEE WIE is to facilitate the
                        global recruitment, retention and
                        recognition of women in technical
                        disciplines. IEEE WIE envisions a vibrant
                        community of IEEE women and men
                        collectively using their diverse talents to
                        innovate for the benefit of humanity
                    </p>
                
                </div>
                <div class="col-md-5">
                    <img src="imgs/wie.png" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <section class="vision-box">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="vis-box">
                        <span><i class="fab fa-react"></i></span>
                        <h3>Mission</h3>
                        <p>
                            Our goal is to facilitate the recruitment and retention of women in technical disciplines globally. We envision a
                            vibrant community of IEEE women and men collectively using their diverse talents to innovate for the benefit of
                            humanity.
                        </p>
                        <p>
                            Recognize the outstanding achievements of women in electrical and electronics engineering through IEEE Awards
                            nominations.
                        </p>
                        <p>
                            Organize receptions at major technical conferences to enhance networking and to promote membership in WiE.
                            Advocate for women in leadership roles in IEEE governance, and career advancement for women in the profession.
                            Provide assistance with the formation of new WiE Affinity Groups, and support ongoing activities.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vis-box">
                        <span><i class="fab fa-react"></i></span>
                        <h3>Vision</h3>
                        <p>
                            WiE – AG, IEEE – SNIST SB, envisions a vibrant community of women innovators for the world of tomorrow. It not only
                            promotes women but also supports them in their academic and professional careers. It is associated with worldwide,
                            multidisciplinary community of engineers, scientists and educators. It throws light on how women are making a lasting
                            impact on the field of Engineering.
                            </p>
                            <p>
                            The student branch was addressed by Madhavi Latha (WIE chair 2009) and Dr.Shailaja from IICT and Dr. Kanaka Durga
                            (2010).Speakers shared their view on the role of woman as an engineer with the student branch members and motivated them
                            on the same
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    <section class="video">
        <div class="container text-center">
            <h4>Why IEEE-WIE membership?</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pDAaVRkIJTE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
    
    <section class="join-now">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-7">
    
                    <h3>Get your Women In Engineering - AG membership Right Away</h3>
    
                </div>
                <div class="col-md-5">
                    <a href="https://www.ieee.org/membership-catalog/productdetail/showProductDetailPage.html?product=MEMWIE050" class="btn">Sign up</a>
                </div>
            </div>
        </div>
    </section>
    
    
    {{>footer}}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>