<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="imgs/IEEE SNIST.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>

<body>
    <header>
        {{>navbar}}
    </header>

<section class="top-chap">
    <div class="container text-justify">
        <div class="h2">
            <h2>Computer Society</h2>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>
                    Computer Society is a leading provider of technical information, community services, and personalized services to the
                    world’s computing professionals.
                </p>
                <p>
                    The IEEE Computer Society is the world’s leading membership organization dedicated to computer science and technology.
                    Serving more than 60,000 members, the IEEE Computer Society is the trusted information, networking, and career –
                    development source for a global community of technology leaders that includes researchers, educators, software
                    engineers, IT professionals, employers, and students. With nearly 20 student members and 2 professional members, IEEE –
                    SNIST SB, has filed a petition to initiate the computer society student chapter. The acknowledgement has been received
                    from the computer society head quarters.
                </p>
                <p>
                    The motive to initiate the computer society is to make the computer science and Information technology students to make
                    computing as their profession. New Innovative ideas are being implemented to make students and professionals get a
                    fruitful result.
                </p>
            </div>
            <div class="col-md-5">
                <img src="imgs/cs3.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="vision-box">
    <div class="container text-center">
        <div class="vis-box">
            <span><i class="fab fa-react"></i></span>
            <h3>Vision</h3>
            <p>To be the leading provider of technical information, community services, and personalized services to the world’s
            computing professionals.
            </p>
        </div>
    </div>
</section>

<section class="video">
    <div class="container text-center">
        <h4>Pro's of being an IEEE CS member</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BrxdLNDxWOw" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section class="join-now">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7">
               
                    <h3>Get your IEEE CS membership now</h3>
                
            </div>
            <div class="col-md-5">
                <a href="https://www.ieee.org/membership-catalog/productdetail/showProductDetailPage.html?product=MEMC016"
                    class="btn">Sign up</a>
            </div>
        </div>
    </div>
</section>


{{>footer}}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>