<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="imgs/ieee.jpeg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>
<body>
    <header>
        {{>navbar}}
    </header>
    
    <section id="halloffame">
        <div class="container text-center">
            <div id="team">
                <h1>Hall Of Fame</h1>
            </div>
            <h2 >IEEE - SNIST SB 2019-20</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="imgs/halloffame/Srujana.jpg" >
                    <h3>Srujana Kowtha</h3>
                    <h4>Chair-Person</h4>
                </div>
                <div class="col-md-4">
                    <img src="imgs/halloffame/rishii.webp">
                    <h3>Rishi Bellamkonda</h3>
                    <h4>Vice Chair-Person</h4>
                </div>
                <div class="col-md-4">
                    <img src="imgs/halloffame/shreyas.jpg">
                    <h3>Shreyas Cheemala</h3>
                    <h4>General Secretary</h4>
                </div>
            </div>
            <h2>IEEE - SNIST SB 2018-19</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="imgs/halloffame/Gaurav Daula.jpg">
                    <h3>Gaurav Daula</h3>
                    <h4>Chair-Person</h4>
                </div>
                <div class="col-md-4">
                    <img src="imgs/halloffame/shreyas.jpg">
                    <h3>Shreyas Cheemala</h3>
                    <h4>Vice Chair-Person</h4>
                </div>
                <div class="col-md-4">
                    <img src="imgs/halloffame/kranti.jpeg">
                    <h3>Sai Kranthi</h3>
                    <h4>General Secretary</h4>
                </div>
            </div>
            <h2>IEEE - SNIST SB 2017-2018</h2>
            <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <img src="imgs/halloffame/Vishnu Varma.jpg">
                        <h3>Vishnu Varma</h3>
                        <h4>Chair-Person</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="imgs/halloffame/Gaurav Daula.jpg">
                        <h3>Gaurav Daula</h3>
                        <h4>Vice Chair-Person</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="imgs/halloffame/Bhargav Sai.jpg">
                        <h3>Bhargav Sai</h3>
                        <h4>General Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section id="founder">
        <div class="container text-center">
            <h2>Founder and Branch Counsellor</h2>
            <img src="imgs/halloffame/sir.jpeg">
            <h3>Dr. K. Sumanth</h3>
            <h4>Branch Counsellor, IEEE SNIST</h4>
        </div>
    </section>

    {{>footer}}



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>